/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    background-color: #121212;
    color: #e0e0e0;
}

i {
    margin-right: 5px;
}

ul {
    padding: 0;
}

/* Header */
header {
    background-color: #1e1e1e;
}

.topbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.nav a:hover {
    color: #e69500;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-options a {
    text-decoration: none;
    color: #fff;
}

.user-options input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ffa500;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.product-details {
    display: flex;
    gap: 40px;
}

/* Imagens do Produto  */
.product-gallery {
    flex: 1;
}

.product-galler img {
    width: 100%;
    border-radius: 10px;
}

.gallery-thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

 .gallery-thumbnails img {
    width: 60px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .3s;
 }

 .gallery-thumbnails img:hover {
    border: 2px solid #ffa500;
 }

/* Informações do Produto */
.product-info {
    flex: 1;
}

.product-path,
.product-code {
    font-size: .9rem;
    color: #777;
    margin-bottom: 10px;
}

.product-info h2 {
    color: #e0e0e0;
    font-size: 2.5rem;
    margin: 10px 0;
}

.price {
    font-size: 3rem;
    color: #ffa500;
    margin: 10px 0;
}

.rating {
    color: #81c784;
    font-size: 1.2rem;
}

.procut-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #b0b0b0;
    margin-bottom: 20px;
}

/* Opçoes de Produto */
.product-options {
    margin: 20px 0;
}

#color, #quantity {
    width: 100px;
}

.product-options label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.product-options select, .product-options input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px ;
}

.buttons {
    display: flex;
    gap: 15px;
}

.add-to-cart, .add-to-wishlist {
    padding: 15px 30px;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
}
.add-to-cart:hover {
    background-color: #388e3c;
}

.add-to-wishlist {
    border: 2px solid #ffa500;
    color: #ffa500;
}

.add-to-wishlist:hover {
    background-color: #1e1e1e;
    color: #fff;
}

.delivery {
    margin-top: 20px;
    color: #777;
    font-size: 0.9rem;
}

/* Tabs */
.product-specs {
    margin-top: 40px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.tabs {
    display: flex;
    gap: 30px;
    list-style-type: none;
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

.tabs li {
    font-weight: bold;
    cursor: pointer;
    color: #777;
}

.spects-content p {
    font-size: 1rem;
    color: #b0b0b0;
    margin: 10px 0;
}

